#!/bin/bash
nohup consul agent -server --bootstrap-expect 1 -ui -client 0.0.0.0 -data-dir {{ softlink_dir }}/consul -node=cn1 -bind={{ groups['consul'][0] }} -enable-script-checks=true -datacenter=consul-1 & 

